.pet-card {
  max-width: 600px; /* Aumentei a largura para acomodar melhor o conteúdo */
  margin: 20px auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pet-header {
  text-align: center;
  margin-bottom: 20px;
}

.pet-title {
  font-size: 28px;
  color: #333;
}

.pet-content {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se ajustem melhor em diferentes tamanhos de tela */
  align-items: flex-start; /* Ajusta os itens no topo */
  gap: 20px; /* Espaçamento entre as colunas */
}

.pet-image {
  flex: 1 1 120px; /* Permite que a imagem tenha largura mínima e se ajuste */
  text-align: center;
  margin-bottom: 10px; /* Espaço inferior para separar a imagem do restante do conteúdo */
  
  img {
    width: 150px; /* Imagem um pouco maior */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 10px; /* Espaço entre a imagem e o botão de remoção */
  }

  button {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #c82333;
    }
  }

  input[type="file"] {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}

.pet-details {
  flex: 2; 
  padding-left: 20px;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #444;
  }

  p {
    font-size: 16px;
    margin: 5px 0;
    color: #666;
  }

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  mat-checkbox {
    margin-top: 10px;
  }
}

.mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  position: relative;
}

.icon-button {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

button {
  min-width: 120px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

button.mat-raised-button {
  background-color: #007bff;
  color: #ffffff;

  &:hover {
    background-color: #0056b3;
  }
}

button.mat-raised-button[color="primary"] {
  background-color: #28a745;
  color: #ffffff;

  &:hover {
    background-color: #218838;
  }
}

button.mat-raised-button[color="warn"] {
  background-color: #dc3545;
  color: #ffffff;

  &:hover {
    background-color: #c82333;
  }
}

button.mat-raised-button[color="accent"] {
  background-color: #17a2b8;
  color: #ffffff;

  &:hover {
    background-color: #138496;
  }
}
