<div class="app-container">
  <div class="reset-password-wrapper">
    <div class="reset-password-container">
      <img src="/logo.png" alt="PETMATCH" class="logo">
      <h2>Redefinir Senha</h2>

      <div *ngIf="loading" class="loading-message">
        <p>Carregando...</p>
      </div>

      <div *ngIf="!loading">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="input-group">
            <input id="novaSenha" formControlName="novaSenha" type="password" required placeholder="NOVA SENHA">
            <div *ngIf="resetPasswordForm.get('novaSenha')?.invalid && resetPasswordForm.get('novaSenha')?.touched" class="validation-error">
              <span *ngIf="resetPasswordForm.get('novaSenha')?.errors?.['required']">Nova senha é obrigatória.</span>
              <span *ngIf="resetPasswordForm.get('novaSenha')?.errors?.['minlength']">Mínimo de 6 caracteres.</span>
            </div>
          </div>
          <div class="input-group">
            <input id="confirmarSenha" formControlName="confirmarSenha" type="password" required placeholder="CONFIRMAR SENHA">
            <div *ngIf="resetPasswordForm.get('confirmarSenha')?.invalid && resetPasswordForm.get('confirmarSenha')?.touched" class="validation-error">
              <span *ngIf="resetPasswordForm.get('confirmarSenha')?.errors?.['required']">Confirmação de senha é obrigatória.</span>
            </div>
            <div *ngIf="resetPasswordForm.errors?.['mismatch'] && (resetPasswordForm.get('novaSenha')?.touched || resetPasswordForm.get('confirmarSenha')?.touched)" class="validation-error">
              <span>As senhas não coincidem.</span>
            </div>
          </div>
        <button type="submit" class="reset-btn">REDEFINIR SENHA</button>
          <div *ngIf="message" class="message-box success-message"> <p>{{ message }}</p>
          </div>
          <div *ngIf="errorMessage" class="message-box error-message"> <p>{{ errorMessage }}</p>
          </div>
          <div class="reset-password-footer">
            <a routerLink="/login" class="back-to-login-link">Voltar para o Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>