<div class="app-container">
  <div class="forgot-password-wrapper">
    <div class="forgot-password-container">
      <img src="/logo.png" alt="PETMATCH" class="logo">
      <h2>Esqueci minha senha</h2>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestPasswordReset()">
        <div class="input-group">
          <input id="email" formControlName="email" type="email" required placeholder="EMAIL">
          <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="validation-error">
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email é obrigatório.</span>
            <span *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Email inválido.</span>
          </div>
        </div>
        <button type="submit" class="reset-btn">ENVIAR LINK DE REDEFINIÇÃO</button>
        <div *ngIf="message" class="message-box success-message"> <p>{{ message }}</p>
        </div>
        <div *ngIf="errorMessage" class="message-box error-message"> <p>{{ errorMessage }}</p>
        </div>
        <div class="forgot-password-footer">
          <a routerLink="/login" class="back-to-login-link">Voltar para o Login</a>
        </div>
      </form>
    </div>
  </div>
</div>