<div class="app-container">
  <div class="login-wrapper">
    <div class="login-container">
      <img src="/logo.png" alt="PETMATCH" class="logo">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-group">
          <input id="email" formControlName="email" type="email" required placeholder="EMAIL">
        </div>
        <div class="input-group">
          <input id="senha" formControlName="senha" type="password" required placeholder="SENHA">
        </div>
        <button type="submit" class="login-btn">LOGIN</button>
        <div *ngIf="errorMessage" class="error-message global-error">
          <p>{{ errorMessage }}</p>
        </div>
        <div class="login-footer">
          <a href="/registro" class="register-link">REGISTRE-SE</a>
          <a href="#" class="forgot-link">ESQUECI MINHA SENHA</a>
        </div>
      </form>
    </div>
  </div>
</div>